/ConsoleApp5/.vs
/ConsoleApp5/ClassLibrary1/bin
/ConsoleApp5/ConsoleApp5/bin/Debug
/ConsoleApp5/ClassLibrary1/obj
/ConsoleApp5/ConsoleApp5/bin
/ConsoleApp5/ConsoleApp5/obj
/ConsoleApp41/ConsoleApp41/obj
/ConsoleApp41/ConsoleApp41/bin
/ConsoleApp41/.vs
/WareHouse/WareHouse/bin
/WareHouse/WareHouse/Debug
/WareHouse/WareHouse/obj/
/WareHouse/.vs
/ConsoleApp10/ConsoleApp10/bin
/ConsoleApp10/ConsoleApp10/Debug
/ConsoleApp10/.vs
/ConsoleApp10/ConsoleApp10/obj/
